html, body {
    margin: 0;
    padding: 0;
    min-width: 1000px;
    font-family: Arial;
}

header {
    height: 130px;
    width: 960px;
	margin: 40px auto 0;
	position: relative;
}

h1 {
    font: bold;
    font-size: 14px;
    margin: 0 0;
}

h2 {
	font-size: 20px;
	padding: 27px 0 27px 18px;
	margin: 0 0 34px;
	border-bottom: 1px solid #e5e5e5;
}

nav {
    color: #e3e3e6;
    font-size: 20px;
    position: absolute;
    top: 80px;
}

nav a {
    color: #000000;
    font-size: 16px;
    text-decoration: none;
    margin-right: 15px;
    margin-left: 14px;
}

header nav li::after {
	content: "/";
}

header nav li:first-child {
	margin-left: 0;
}

header nav li:last-child {
	margin-right: 0;
}

.blue-box {
    background-color: #00122f;
    color: white;
    font-size: 16px;
    padding: 20px 0;

}

.blue-box a {
    color: white;
}

.datetime {
    float: right;
}

.fixed-container {
	width: 960px;
	margin: 0 auto;
    position: relative;
}

.logo-f {
    float: left;
    width: 140px;
    height: 40px;
}

    .logo-image {
        float: left;
        margin-right: 10px;
		background-image: url("img/logo.png");
    }
.select-wrapper{
    display: inline-block;
    position: relative;
    /* обнуляем шрифт, чтобы убрать текст label */
    font-size: 0;
}

.select-wrapper::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 15px;
    height: 1px;
    border-bottom: 2px dashed #448ccb;
}

.custom-select {
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Восстанавливаем шрифт */
    font-size: 16px;
    /* для того, чтобы задать саму стрелку:
        1. отведем для нее место; */
    padding-right: 15px;
    /* добавим ее фоном */
    background: url(img/down-arrow.png) 100% center no-repeat;
    background-size: 9px 5px;
}

ul {
  columns: 2;
  width: 200px;
}

li {
  margin-bottom: 10px;
}

.vk{
	background-image: url("img/logo-vk.png");
}
.fb {
	background-image: url("img/logo-fb.png");
}
.twitter {
	background-image: url("img/logo-twitter.png");
}
.inst {
	background-image: url("img/logo-inst.png");	
}
.telephone {
	background-image: url("img/telephone-img.png");
}
.email {
	background-image: url("img/email-img.png");
}

figure {
    margin: 0;
}

figcaption {
    padding: 5px;
}

.cloudy-f {
    float: right;
    position: relative;
    top: 7px;
    width: 90px;
    height: 21px;
    margin-right: 45px;
}

    .cloudy-text {
        color: #91919f;
        padding: 0;
    }

    .cloudy-image {
        float: left;
        margin-right: 10px;
		background-image: url("img/cloudy.png");
    }

.search-form {
    float: right;
    padding: 0;

    min-height: 20px;
}

    .search-panel {
        position: relative;
        width: 260px;
        height: 45px;
        border: none;
        outline: none;
        padding-left: 20px;
        border-radius: 45px 0 0 45px;
        background-color: #f3f3f3;
    }

    .search-button {
        float: right;
        width: 60px;
        height: 47px;
        padding: 0;
        border: none;
        border-radius: 0 50px 50px 0;
        background-color: #f3f3f3;
		background-image: url("img/search-button.png");
    }

main {
	position: relative;
	width: 420px;
	float: left;
}

.main-container {
    padding-top: 20px;
    padding-bottom: 60px;
    background-color: #f3f3f3;
    background-image: url("img/shadow-top.png");
    background-repeat: repeat-x;
}

.main-container .fixed-container {
    overflow-y: hidden;
}

.news-day {
    float: left;
    width: 250px;
    background-color: white;
    margin-right: 20px;

}

.news-day-block {
    font-size: 14px;
    width: 232px;
    padding-left: 18px;
    margin: 13px 0 32px 0;
    background-color: white;
}

.news-item-props {
    font-size: 12px;
    position: relative;
    margin: 18px 20px 0 0;
}

.news-item-props a {
    color: #91919f;
}

.block-time-news {
    display: inline;
    float: right;
    padding-left: 16px;
    margin-right: 20px;
    background-image: url('img/icon-time.png');
    background-repeat: no-repeat;
}

.block-comments-count {
    display: inline;
    float: right;
    padding-left: 16px;
    background-image: url('img/icon-comments.png');
    background-repeat: no-repeat;
}

.news-day-button {
    width: 177px;
    height: 45px;
    border: 1px solid #448ccb;
    border-radius: 25px;
    /*outline: none;*/
    background-color: white;
    color: #448ccb;
    margin: 0 35px 25px 38px;
}

.banners {
    width: 250px;
    float:right;
}

.banner-image {
    margin-bottom: 20px;
}

.news-first-block {
    width: 420px;
    height: 320px;
    position: relative;
    color: white;
    margin-bottom: 20px;
}

    .news-first-block figcaption {
        position: absolute;
        top: 131px;
        left: 21px;
        font-size: 30px;
        font-weight: bold;

        text-align: left;
        padding: 0;
    }

    .news-first-block p {
        margin: 0;
    }

    .news-first-block a {
        color: #dfe4e9;
    }

    .news-first-block .news-item-props {
        position: absolute;
        margin: 0;
        top: 115px;
        left: 20px;
    }

    .news-first-block .block-time-news {
        position: absolute;
        top: 148px;
        left: 95px;
    }

    .block-date-news {
        position: absolute;
        top: 148px;
        width: max-content;
    }

.news-small-block {
    width: 200px;
    height: 235px;
    padding: 0;
    margin: 0 20px 20px 0;
    position: absolute;
}

    .news-small-block figcaption {
        padding: 0;
        margin-top: 5px;
    }

    .news-small-block p {
        font-size: 13px;
        font-weight: bold;
        margin: 0;
    }

    .news-small-block .news-item-props {
        margin-top: 15px;
    }

    .news-small-block .news-item-props a {
        margin-right: 10px;
    }

.news-small-block .block-time-news {
    margin-right: 10px;
    float:none;
}

.news-small-block .block-comments-count {
    float: none;
}

.news-small-2 {
    left: 221px;
}

.news-small-3 {
    top: 595px;
}

.news-small-4 {
    top: 595px;
    left: 221px;
}

.most-read-news {
    width: 410px;
    height: 395px;
    background-color: white;
    float: right;
}

    .most-read-news h2 {
        font-size: 20px;
        font-weight: bold;
    }

    .most-read-news .news-day-block {
        width: 360px;
        font-size: 15px;
        font-weight: bold;
        padding: 0 30px 0 20px;
    }

    .most-read-news .news-day-block .news-item-props {
        font-weight: normal;
    }

    .most-read-news .news-day-block .news-item-props .block-comments-count {
        float: none;
    }

    .most-read-news .news-day-block .news-item-props .block-time-news {
        float: none;
        margin-left: 13px;
    }

.special-news {
    width: 548px;
    height: 393px;
    float:left;
    color: white;
    position: relative;
}

    .special-news figcaption {
        width: 490px;
        height: 250px;
        position: absolute;
        top: 110px;
        left: 20px;
        padding: 0;
    }

    .special-news h3 {
        position: absolute;
        top: 40px;
        width: 395px;
        font-size: 29px;
        font-weight: bold;
        margin: 0;
    }

    .special-news p {
        position: absolute;
        top: 190px;
        width: 485px;
        height: 50px;
        font-size: 13px;
        color: #cbc9c6;
        margin: 0;
    }

    .special-news .news-item-props {
        margin: 0;
    }

    .special-news .block-date-news {
        position: absolute;
        top: 150px;
    }

    .special-news .block-time-news {
        position: absolute;
        top: 150px;
        left: 100px;
    }
footer {
    position:relative;
    background-color: #00122f;
    height: 310px;
    color: #d1d2d5;
}

    footer nav{
        position: relative;
        float:left;
        top: auto;
        margin: 55px 0 15px;
    }

    footer a {
            display: block;
            color: #d1d2d5;
            margin: 0 0 20px 0;
            text-decoration: none;
        }

.table {
    float: left;
    margin:0 60px 0 0;
}

.center-footer {
    width: max-content;
    position: relative;
    float: left;
    margin-left: 140px;
    margin-top: 60px;
}

    .center-footer figure {
        float: none;
        margin-bottom: 20px;
    }

.right-footer {
    width: max-content;
    height: max-content;
    position: relative;
    float: right;
    margin-top: 60px;
}

    .right-footer a {
        display:inline;
    }

.right-footer-img {
    margin-right: 20px;
}

    .right-footer figcaption {
        width: max-content;
        display: inline;
        padding: 0;
        font-size: 17px;
    }

.right-footer-telephone-img {
    top: 5px;
    position: relative;
    margin-right: 15px;
}

.telephone-number {
    margin-top: 43px;
}

.right-footer-email-img {
    top: 1px;
    position: relative;
    margin-right: 15px;
}

.email-footer {
    margin-top: 30px;
}

.footer-cast {
    height: 50px;

    border-top: 1px solid #26354e;
    position: absolute;
    top: 260px;
    width: -webkit-fill-available;
}

.fixed-footer-container {
    font-size: 14px;
    color: #727882;
    width: max-content;
    margin: 15px auto;
}